if BOARD_MJOLNIR_LH

config ZMK_KEYBOARD_NAME
    default "Mjolnir"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif # BOARD_MJOLNIR_LH

config BOARD
    default "mjolnir"

if BOARD_MJOLNIR_LH || BOARD_MJOLNIR_RH

config ZMK_SPLIT
    default y

config BT_CTLR
    default BT

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

config I2C
	default y

config MAX17048
	default y

endif # USB

endif # BOARD_MJOLNIR_LH || BOARD_MJOLNIR_RH
