config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    select SOC_DCDC_NRF52X
    default y
    depends on (BOARD_MJOLNIR_LEFT || BOARD_MJOLNIR_RIGHT || BOARD_MJOLNIR_LEFT_FLIP || BOARD_MJOLNIR_RIGHT_FLIP)
