config BOARD_MJOLNIR_LEFT
    bool "Mjolnir Left"
    depends on SOC_NRF52840_QIAA

config BOARD_MJOLNIR_RIGHT
    bool "Mjolnir Right"
    depends on SOC_NRF52840_QIAA

config BOARD_MJOLNIR_LEFT_FLIP
    bool "Mjolnir Left Flip"
    depends on SOC_NRF52840_QIAA

config BOARD_MJOLNIR_RIGHT_FLIP
    bool "Mjolnir Right Flip"
    depends on SOC_NRF52840_QIAA