#include "mjolnir.dtsi"
#include "mjolnir_left-pinctrl.dtsi"
#include <dt-bindings/led/led.h>

&kscan0 {
    input-gpios
    = <&gpio1  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 0_0
    , <&gpio0  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 1_0
    , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 2_0
    , <&gpio1  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 3_0
    , <&gpio1  0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 4_0
    , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 0_1
    , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 1_1
    , <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 2_1
    , <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 3_1
    , <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 4_1
    , <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 0_2
    , <&gpio1  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 1_2
    , <&gpio0  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 2_2
    , <&gpio0 30 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 3_2
    , <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 4_2
    , <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 1_3
    , <&gpio0  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 2_3
    , <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 3_3
    , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // 4_3
    ;
};

&i2c0 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;

	fuelgauge: max17048@36 {
		compatible = "zmk,maxim-max17048";
		label = "BATTERY";
		reg = <0x36>;
	};
};

nice_view_spi: &spi1 {
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
};

&rgbpower {
    control-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>; /* WS2812_CE */
};

&statusled {
    blue_led: led_0 {
        gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
    };
};

&spi3 {
  compatible = "nordic,nrf-spim";
  status = "okay";

  pinctrl-0 = <&spi3_default>;
  pinctrl-1 = <&spi3_sleep>;
  pinctrl-names = "default", "sleep";

  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";

    /* SPI */
    reg = <0>; /* ignored, but necessary for SPI bindings */
    spi-max-frequency = <4000000>;

    /* WS2812 */
    chain-length = <19>; /* number of LEDs */
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
    color-mapping = <LED_COLOR_ID_GREEN
                          LED_COLOR_ID_RED
                          LED_COLOR_ID_BLUE>;
  };
};